#ttq{
    height: 60px;
    background-color: transparent;
}
#bloger{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 20px;
}
#totalr3{
    background-color: #90be55;
    height: auto;  /* Let it size based on content */
}
#uut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
    border: 1px solid black;
    padding: 40px;
    border-radius: 20px;
}


@media screen and (max-width: 500px) {


    #totalr3{
        background-color: #90be55;
        height: 1120px;
    }
    #uut{
margin-bottom: 40px;

    }
 
}

#texw{
    color: black;
}


@media screen and (max-width: 784px) {
    #ttq{
        background-color: transparent;
        height: 60px;
    }
}

@media screen and (max-width: 662px) {
    #ttq{
        background-color: transparent;
        height: 60px;
    }
}
