/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */














/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.top-author { display: none; }

.recent { padding-block-start: 15px; }

.recent .section-title .strong { display: block; }

.recent .section-title { margin-block-end: 20px; }

.recent .btn {
  margin-inline: auto;
  margin-block: 50px 30px;
}





/*-----------------------------------*\
  #RECOMMENDED POST
\*-----------------------------------*/

.section.recommended { border-block-end: none; }

.recommended .grid-list {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.recommended .blog-card { margin-block-end: 5px; }





/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter { padding-block-start: 40px; }

.newsletter .section-title { margin-block-end: 25px; }










/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6rem;
    --fs-2: 4.8rem;

  }



  /**
   * REUSED STYLE
   */

  .section { margin-inline: 30px; }

  .newsletter-form,
  .btn { --fs-6: 2.2rem; }

  .newsletter-form .email-field {
    font-size: var(--fs-6);
    padding-inline-end: 170px;
  }

  .btn { padding: 14px 30px; }

  .section-subtitle { font-size: var(--fs-6); }

  .has-scrollbar {
    margin-inline: -30px;
    padding-inline: 30px;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 15px; }

  .scrollbar-item { min-width: 40%; }

  .grid-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }



  /**
   * HEADER
   */

  .header { padding-block: 30px; }



  /**
   * SEARCH BAR
   */

  .search-bar .input-field { --fs-1: 3.6rem; }



  /**
   * RECOMMENDED POST, FOOTER
   */

  .recommended .grid-list,
  .footer-top { grid-template-columns: repeat(3, 1fr); }

  .footer-brand { grid-column: 1 / 4; }

  .footer-text {
    max-width: 400px;
    margin-block-end: 20px;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 7.2rem;
    --fs-2: 5.5rem;

    /**
     * radius
     */

    --radius-16: 26px;

  }



  /**
   * REUSED STYLE
   */

  .section { margin-inline: 50px; }

  .has-scrollbar {
    margin-inline: -50px;
    padding-inline: 50px;
    gap: 15px;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 25px; }

  .scrollbar-item { min-width: 30%; }

  .grid-list { gap: 40px 15px; }



  /**
   * SEARCH BAR
   */

  .search-bar { padding: 25px; }

  .search-bar .input-field { --fs-1: 4.6rem; }



  /**
   * RECENT POST
   */

  .top-author {
    display: block;
    text-align: right;
  }

  .recent .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-block-end: 10px;
  }

  .top-author .avatar-item:not(:first-child) { margin-inline-end: -25px; }

  .top-author .span {
    color: var(--eerie-black_80);
    font-size: var(--fs-8);
    margin-block-start: 10px;
  }

  .avatar.large {
    border: 6px solid var(--white);
    width: 70px;
  }

  .avatar.large:is(:hover, :focus) { transform: translateY(-3px); }



  /**
   * RECOMMENDED POST
   */

  .recommended .grid-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
  }



  /**
   * FOOTER
   */

  .footer-top { grid-template-columns: repeat(4, 1fr); }

  .footer-brand { grid-column: 1 / 5; }

  .footer-link { --fs-7: 1.7rem; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 8.8rem;
    
    /**
     * spacing
     */

    --section-padding: 60px;

  }



  /**
   * REUSED STYLE
   */

  .section { margin-inline: 60px; }

  .has-scrollbar {
    margin-inline: -60px;
    padding-inline: 60px;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 30px; }

  .btn {
    --fs-6: 2.4rem;
    padding: 18px 36px;
  }

  .newsletter-form { max-width: 450px; }

  .newsletter-form .email-field {
    padding-block: 18px;
    padding-inline-start: 30px;
  }

  .blog-card .card-title { padding-inline-end: 15px; }

  .blog-card .card-text { font-size: unset; }

  .grid-list { grid-template-columns: repeat(3, 1fr); }






  /**
   * HERO
   */

  .hero { padding-block-start: 25px; }

  .hero-title { margin-block-end: 30px; }

  .hero .newsletter-text {
    display: block;
    max-width: 400px;
    color: var(--eerie-black_80);
    line-height: 1.3;
  }

  .hero .wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }



  /**
   * RECENT POST
   */

  .top-author .avatar { width: 85px; }



  /**
   * RECOMMENDED POST
   */

  .recommended .grid-list { grid-template-columns: repeat(6, 1fr); }



  /**
   * NEWSLETTER
   */

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .newsletter .section-title { margin-block-end: 0; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 9.2rem;
    --fs-2: 6rem;
    --fs-3: 2.6rem;
    --fs-4: 2.4rem;

  }



  /**
   * REUSED STYLE
   */

  .section { margin-inline: 70px; }

  .has-scrollbar {
    margin-inline: -70px;
    padding-inline: 70px;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 35px; }

  .card-tag {
    --fs-9: 1.4rem;
    padding: 4px 10px;
  }

  .grid-list { row-gap: 50px; }



  /**
   * HERO
   */

  .section.hero { padding-block: 50px 80px; }

  .hero-title { margin-block-end: 50px; }



  /**
   * RECENT POST
   */

  .top-author .avatar { width: 100px; }

  .recent .btn { margin-block-start: 70px; }



  /**
   * FOOTER
   */

  .footer-top { grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr 0.4fr; }

  .footer-brand {
    grid-column: auto;
    padding-inline-end: 100px;
  }

}

#tttt{
  margin-top: 300px;
}

#wwq{

margin-top: 400px;
}

.subscribe-container {
  display: flex;
  justify-content: center;

}

.subscribe-form {
  display: flex;
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.subscribe-input {
  flex: 1;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
  outline: none;
  border-radius: 999px 0 0 999px;
}

.subscribe-button {
  background-color: #90be55;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 999px 999px 0;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color:#90be55
}

#tttt{
margin-top: 0;
}


#paddernews{
margin-top: 300px;
margin-bottom: 100px;
}

#paddernews h2{
  font-weight: 300;
  font-size: 30px;
}

#uuuy22{
margin-top: 80px;
}

.img-holder {
  width: 100%;
  max-width: 350px; /* adjust width to fit your layout */
  height: 450px; /* this matches the height in your screenshot */
  overflow: hidden;
  border-radius: 16px;
  display: block;
}

.img-holder img.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops oversized images */
  object-position: center;
  display: block;
}
#titler{
  font-weight: 300;
  margin: 9px;
}
#tagger{
  margin: 4px;
}